# Binaries
regis
regis-api

# Database
regis.db
regis.db-journal

# Logs
*.log
log.txt

# Output directories
regis_output_*
jobs/
my_jobs/
conda-bld/
notes/
# OS specific
.DS_Store
Thumbs.db

# AI Agent
.agent/
